@import '../../../layout/colors.scss';
@import '../../../layout/breakpoints.scss';
@import '../../../layout/variables.scss';
@import '../../../layout/mixins.scss';

.label {
	font-weight: $font-weight;
	font-size: x-large;

	@include sm {
		font-size: medium;
	}
}

.input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	@include input-default
}

.invalid {
	border-color: map-get($red, '0');
}

.error {
	color: map-get($red, '1');
	margin-bottom: 20px;
}