@import '../../../layout/variables.scss';
@import '../../../layout/mixins.scss';

.select {
	padding: 5px;
	text-align: center;
	border: $border;
	@include input-default;

	&:hover {
		cursor: pointer;
	}

	option {
		width: auto;
	}
}
